{% extends "admin/index.twig" %}
{% block boody %}
    <script>
        $(document).ready(function(){
             $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                autoclose: true,
                format: "dd.mm.yyyy",
                pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                language: 'ru',
                startView: 'decade',
                weekStart: 1
            });

        });
    </script>
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">
                Новость <small>добавление новости</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ Url.site('/admin') }}">Рабочий стол</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ Url.site('/admin/news') }}">Новости</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="}">Добавление новости</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>Новость
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                {% if _errors|length > 0 %}
                                <div class="alert alert-danger">
                                    <button class="close" data-close="alert"></button>
                                    Были допущены ошибки:<br>
                                    {% for error in _errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <!-- BEGIN FORM-->
                                <form action="{{ Url.site('/admin/news/create') }}" class="form-horizontal form-row-seperated" method="post" enctype="multipart/form-data">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Картинка</label>
                                            <div class="col-md-9">
                                                 <input type="file" name="img" />
                                                <span class="help-block">Выберите картинку</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Дата</label>
                                            <div class="col-md-9">
                                                <div class="input-group input-medium date date-picker">
                                                <input type="text" name="data" placeholder="Введите дату" value="{{ post['data']}}" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                </div>
                                                <span class="help-block">Введите дату</span>
                                                {% if _errors.data is defined %}{{ _errors.data.0 | raw('html') }}{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Название</label>
                                            <div class="col-md-9">
                                                <input type="text" name="title" placeholder="Введите название" value="{{ post['title']}}" class="form-control">
                                                <span class="help-block">Введите название</span>
                                                {% if _errors.title is defined %}{{ _errors.title.0 | raw('html') }}{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Описание</label>
                                            <div class="col-md-9">
                                                <textarea name="short_content"  class="form-control">{{ post['short_content']}}</textarea>
                                                <span class="help-block">Введите короткое описание</span>
                                                {% if _errors.short_content is defined %}{{ _errors.short_content.0 | raw('html') }}{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Полное описание</label>
                                            <div class="col-md-9">
                                                <textarea  name="text" class="form-control">{{ post['text']}}</textarea>
                                                <span class="help-block">Введите описание</span>
                                                {% if _errors.text is defined %}{{ _errors.text.0 | raw('html') }}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" name="save" class="btn green"><i class="fa fa-pencil"></i> Добавить</button>
                                                    <a href="{{ Url.site('/admin/news') }}" class="btn default">Отмена</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock boody %}